<h1>Productos Mock</h1>

{{#if userEmail}}
    <p>Bienvenido {{userEmail}}, role: {{userRole}}</p>
    {{/if}}
<div class="productsContainer">
    
    {{#each dataProducts.payload}}
    <div class="product-list">
        <div class="product-card">
            <div class="product-details">
                <h3>{{this.title}}</h3>
                <p>{{this.category}}</p>
                <p>{{this.description}}</p>
                <p><strong>Precio:</strong> ${{this.price}}</p>
                <p><strong>Stock:</strong> {{this.stock}}</p>
                <button onclick="addToCart('{{this._id}}')">Agregar al carrito</button>
            </div>
        </div>
    </div>
    {{/each}}
</div>
<div class="prevNextCont">
    {{#if dataProducts.prevLink}}<a href="{{dataProducts.prevLink}}">Anterior</a>{{/if}}
    {{#if dataProducts.nextLink}}<a href="{{dataProducts.nextLink}}">Siguiente</a>{{/if}}
</div>

<script src="/static/js/products.js"></script>